<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="logPath" value="D:/home/test" />
    <springProperty name="logFileName" source="logging.fileName" />

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>[%d{yyyy/MM/dd HH:mm:ss.SSS}] [%thread] [%X{_traceId}] %-5level %logger.%line - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/${logFileName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 每日归档日志文件 -->
            <fileNamePattern>${logFileName}.%d{yyyy-MM-dd}</fileNamePattern>
            <!-- 保留 30 天的归档日志文件 -->
            <maxHistory>30</maxHistory>
            <!-- 日志文件上限 3G，超过后会删除旧的归档日志文件 -->
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy/MM/dd HH:mm:ss.SSS}] [%thread] [%X{_traceId}] %-5level %logger.%line - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout" />
        <appender-ref ref="file" />
    </root>

</configuration>